main {
  margin-top: 50px;
}

#webDevelopment {
  background-image: url("../images/web_development.png");
}

#mobileDevelopment {
  background-image: url("../images/mobile_development.png");
}

#games-development {
  background-image: url("../images/games.png");
}

.text-portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
}

.text-portfolio-item h2 {
  margin-bottom: 10px;
}

.DevelopmentText{
  color: #fff;
  font-family: 'Arial';
  font-weight: bold;
}

.DevelopmentText p{
  text-align: center;
}

#services{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2C2C2C;
}

.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 300px;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  box-shadow: inset 10px 10px 300px rgb(0, 0, 0);
}

.links-my-branch-pr > a {
  display: inline-block;
  padding: 10px 0;
  color: #2FC18C;
}
